{% extends 'index.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">
			<a href="/flujo/crear" class="btn btn-primary" role="button">Crear Flujo</a>
		  	<a href="/actividad/crear" class="btn btn-primary" role="button">Crear Actividad</a>
			<a href="/actividades" class="btn btn-primary" role="button">Listar Actividad</a>
			<a href="/flujos" class="btn btn-info" role="button">Atras</a>

	</div>
</div>

<div class="row">
		<h2 class="sub-header">Administrar Actividades</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}
</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					<th>#</th>
					<th>Nombre Actividad</th>
					<th>Accion</th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in actividades %}
						<tr>
							<td></td>
							<td>{{dato.nombre}}</td>
							<td>

								{%if dato.user.is_active%}
									<a href='{% url "flujos.views.desactivar" dato.id %}' title="Desactivar" aria-label="Close" class="btn btn-danger" role="button">Desactivar</a>
								{% else %}
									<a href='{% url "flujos.views.activar" dato.id %}' title="Activar" aria-label="Close" class="btn btn-success" role="button">Activar</a>
								{%endif %}
							</td>
						</tr>
						{% empty %}
						<li>No hay actividades registradas, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
