{% extends 'index.html' %}
{% block contenido %}
    <div class="row">
		<div class="page-header">
		  <h1>Asignar User Story<small> Sprints</small></h1>
		</div>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="#" class="list-group-item disabled">
                Sprints
                </a>
                  <div class="table-responsive">
                     <table class="table table-striped">
                         <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Estimacion</th>
                                <th>Prioridad</th>
                                <th>Valor tecnico</th>
                                <th>Valor Negocio</th>
                            </tr>
                         </thead>
                         <tbody>
                            {% for dato in userstorys %}
                            <tr>
                                <td>{{dato.nombre}}</td>
                                <td>{{dato.duracion_horas}}</td>
                                <td>{{dato.prioridad}}</td>
                                <td>{{dato.valor_tecnico}}</td>
                                <td>{{dato.valor_de_negocio}}</td>
							<td>
								<a href='{% url "sprints.views.asignarSprint" dato.id %}' title="Asignar" aria-label="Close" class="btn btn-warning glyphicon glyphicon-user" role="button"></a>
							</td>
						</tr>
					{% empty %}
						<li>No hay sprints registrados, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
{% endblock %}