{% extends 'index.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">
			<a href="/userstory" class="btn btn-info" role="button">Atras</a>
	</div>
</div>
<div class="row">

		<h2 class="sub-header">Crear User Story</h2>
		<hr>
		<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{errors}}
			</div>

</div>
<ul>
	<div class= "row">
        {% if error_message %}<p><strong>{{ errors }}</strong></p>{% endif %}
		<form id='formulario' method='post' action=''>{% csrf_token %}
            {% for field in formulario %}
				    <div class="field_container">
				        <div class="form-group col-md-4">
                            <label  class="control-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
				        <div class="clearfix"></div>
				        {% if field.errors %}
				    	<div class="row">
					        <div class="label label-danger col-md-2">
					        	{{ field.errors  }}
							</div>
						</div>
					    {% endif %}
				    </div>
			{% endfor %}
			<p><input type='submit' value='Registrar'/></p>
		</form>
	</div>
</ul>
{% endblock %}
