{% extends 'base.html' %}
{% block titulo %}Nuevo usuario{% endblock %}
{% block encabezado %} 
	<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Gestion de Proyectos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/usuarios">Usuarios</a></li>
            <li><a href="/proyectos/">Proyectos</a></li>
            <li><a href="/flujos/">Flujos</a></li>
            <li><a href="salir">Help</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
</nav>
{% endblock %}
{% block contenido %}
<div class="row">
	<hr>
	<div class="col-lg-8">

	</div>
	<div class="col-lg-4">
			<a href="/flujo/crear" class="btn btn-primary" role="button">Crear Flujo</a>
		  	<a href="/actividad/crear" class="btn btn-primary" role="button">Crear Actividad</a>
			<a href="/actividades" class="btn btn-primary" role="button">Listar Actividad</a>
			<a href="/flujos" class="btn btn-info" role="button">Atras</a>
	</div>
</div>
<div class="row">
	<ul>
		<h2 class="sub-header">Crear Actividad</h2>
		<hr>
	</ul>
</div>
<ul>
	<div class= "row">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<form id='formulario' method='post' action=''>{% csrf_token %}
            {% for field in formulario %}
				    <div class="field_container">
				        <div class="form-group col-md-4">
                            <label  class="control-label">{{ field.label_tag }}</label>
                            {{ field }}
                        </div>
				        <div class="clearfix"></div>
				        {% if field.errors %}
				    	<div class="row">
					        <div class="label label-danger col-md-2">
					        	{{ field.errors  }}
							</div>
						</div>
					    {% endif %}
				    </div>
				{% endfor %}
			<p><input type='submit' value='Registrar'/></p>
		</form>
	</div>
</ul>
{% endblock %}
