{% extends 'index.html' %}

{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/proyectos/" class="btn btn-primary" role="button">Cancelar</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>
<div class="row">

		<h2 class="sub-header">Modificar Proyecto</h2>

</div>
<ul>
	<div class= "row">
        {% if errors %}
			<div class="alert alert-danger" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{errors}}
			</div>
		{% endif %}
		{% if exito %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{exito}}
			</div>
		{% endif %}
		<form id='formulario' method='post' action=''>{% csrf_token %}
				    <div class="field_container">
				        <table>
							{{ formulario.as_table }}
						</table>
				        <div class="clearfix"></div>
				        {% if field.errors %}
				    	<div class="row">
					        <div class="label label-danger col-md-2">
					        	{{ field.errors  }}
							</div>
						</div>
					    {% endif %}
				    </div>

			<p><input type='submit' value='Registrar'/></p>
		</form>
	</div>
</ul>
{% endblock %}
