{% extends 'base.html' %}
{% block encabezado %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gestion de Proyectos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {%if  usuario.is_superuser%}
            <li><a href="/usuarios/">Usuarios</a></li>
            <li><a href="/proyectos/">Proyectos</a></li>
			<li><a href="salir">Salir</a></li>
			{% else %}
			<li><a href="/grupos/">Grupos</a></li>
            <li><a href="/flujos/">Flujos</a></li>
            <li><a href="salir">Salir</a></li>
			{%endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
</nav>
{% endblock %}

{% block contenido %}
<div class="row">
	<hr>
	<div class="col-lg-8">

	</div>
	<div class="col-lg-4">
			<a href="/grupos/crear" class="btn btn-primary" role="button">Asignar Usuario</a>
	</div>
</div>

<div class="row">
	<ul>
		<h2 class="sub-header">Administrar Roles</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}
		<hr>
	</ul>
</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					 <th>#</th>
					<th>Nombre Rol</th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in flujos %}
						<tr>
							<td></td>
							<td>{{dato.rol}}</td>
							<td>


									<a href='{% url "rol.views.lista_usuarios" dato.id %}' title="Lista Usuarios" aria-label="Close" class="btn btn-info" role="button">Usuarios</a>

							</td>
						</tr>
					{% empty %}
						<li>No hay usuarios registrados, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
