{% extends 'index.html' %}

{% block contenido %}
<div class="row">
	<div class="text-right">
			<a href="/grupo/crear" class="btn btn-primary" role="button">Crear Grupo</a>
	</div>
</div>

<div class="row">

		<h2 class="sub-header">Administrar Grupos</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}

</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					 <th>#</th>
					<th>Nombre Grupo</th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in flujos %}
						<tr>
							<td></td>
							<td>{{dato.nombre}}</td>
							<td>


									<a href='{% url "grupos.views.lista_usuarios" dato.id %}' title="Lista Usuarios" aria-label="Close" class="btn btn-info" role="button">Usuarios</a>

							</td>
						</tr>
					{% empty %}
						<li>No hay usuarios registrados, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
