{% extends 'index.html' %}

{% block contenido %}
<div class="row">
	<div class="text-right">
			<a href="/grupo" class="btn btn-primary" role="button">Volver</a>


	</div>
</div>

<div class="row">

		<h2 class="sub-header">Lista Usuarios</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}

</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					 <th>#</th>
					<th>Nombre Usuario</th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in flujos%}
						<tr>
							<td></td>
							<td>{{dato.username}}</td>
							<td>
							</td>
						</tr>
					{% empty %}
						<li>No hay usuarios registrados, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
