{% extends 'index2.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/proyectos/" class="btn btn-primary" role="button">Cancelar</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>
<div class="row">

		<h2 class="sub-header">Crear Proyecto</h2>

</div>
<ul>
	<div class= "row">
		<form id='formulario' method='post' action=''>{% csrf_token %}
			 {% for field in formulario %}
				    <div class="field_container">
				        <div class="form-group col-md-6">
                            <label  class="control-label">{{ field.label_tag }}</label>
                            {{ field }}
                            {% if field.errors %}
                            <div class="row">
                                <div class="label label-danger col-md-4">
                                    {{ field.errors  }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
				        <div class="clearfix"></div>

				    </div>
			{% endfor %}
			<p><input type='submit' value='Registrar'/></p>
		</form>
	</div>
</ul>
{% endblock %}
