{% extends 'index2.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/proyecto/nuevo" class="btn btn-primary" role="button">Crear</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>

<div class="row">

		<h2 class="sub-header">Administrar Proyectos</h2>

</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					 <th>#</th>
					<th>Codigo</th>
					<th>Nombre Corto</th>
					<th>Estado</th>
					<th>Scrum Master</th>
					<th></th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in proyectos %}
					<tr>
						<td></td>
						<td>{{dato.codigo|capfirst}}</td>
						<td>{{dato.nombre_corto}}</td>
						<td>{{dato.estado}}</td>
						<td>{{dato.scrum_master.username}}</td>
						<td>
							{%if dato.is_active%}
								<a href='{% url "proyecto.views.consultarProyecto" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
								<a href='{% url "proyecto.views.proyectoEditar" dato.id %}' title="Editar" aria-label="Close" class="btn btn-info glyphicon glyphicon-pencil" role="button"></a>
								<a href='{% url "proyecto.views.desactivar" dato.id %}' title="Eliminar" aria-label="Close" class="btn btn-danger glyphicon glyphicon-remove-sign" role="button"></a>
							{% else %}
								<a href='{% url "proyecto.views.consultarProyecto" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
								<a href='{% url "proyecto.views.activar" dato.id %}' title="Activar" aria-label="Close" class="btn btn-success glyphicon glyphicon-ok-sign" role="button"></a>
							{%endif %}
						</td>
					</tr>
						{% empty %}
						<li>No hay proyectos registrados, aún.</li>
						{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
