{% extends 'base.html' %}
{% block encabezado %}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gestion de Proyectos</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
			{%if  usuario.is_superuser%}
            <li><a href="/usuarios/">Usuarios</a></li>
            <li><a href="/proyectos/">Proyectos</a></li>
			<li><a href="salir">Salir</a></li>
			{% else %}
            <li><a href="/flujos/">Flujos</a></li>
            <li><a href="salir">Salir</a></li>
			{%endif %}
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
</nav>
{% endblock %}
{% block contenido %}
<div class="row">
	<hr>
	<div class="col-lg-10">

	</div>
	<div class="col-lg-2">

		  	<a href="/proyecto/nuevo" class="btn btn-primary" role="button">Crear</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>

<div class="row">
	<ul>
		<h2 class="sub-header">Administrar Proyectos</h2>
		<hr>
	</ul>
</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					 <th>#</th>
					<th>Codigo</th>
					<th>Nombre Corto</th>
					<th>Estado</th>
					<th>Scrum Master</th>
					<th></th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in proyectos %}
					<tr>
						<td></td>
						<td>{{dato.codigo|capfirst}}</td>
						<td>{{dato.nombre_corto}}</td>
						<td>{{dato.estado}}</td>
						<td>{{dato.scrum_master.username}}</td>
						<td>
							{%if dato.is_active%}
								<a href='{% url "proyecto.views.consultarProyecto" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
								<a href='{% url "proyecto.views.proyectoEditar" dato.id %}' title="Editar" aria-label="Close" class="btn btn-info glyphicon glyphicon-pencil" role="button"></a>
								<a href='{% url "proyecto.views.desactivar" dato.id %}' title="Eliminar" aria-label="Close" class="btn btn-danger glyphicon glyphicon-remove-sign" role="button"></a>
							{% else %}
								<a href='{% url "proyecto.views.consultarProyecto" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
								<a href='{% url "proyecto.views.activar" dato.id %}' title="Activar" aria-label="Close" class="btn btn-success glyphicon glyphicon-ok-sign" role="button"></a>
							{%endif %}
						</td>
					</tr>
						{% empty %}
						<li>No hay proyectos registrados, aún.</li>
						{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
