{% extends 'index.html' %}

{% block contenido %}
<div class="row">
	<div class="text-right">
			<a href="/userstory/crear" class="btn btn-primary" role="button">Crear UserStory</a>
			<a href="/userstory/estado/" class="btn btn-primary" role="button">Asignar Estado</a>
			<a href="/flujos" class="btn btn-info" role="button">Atras</a>

	</div>
</div>

<div class="row">

		<h2 class="sub-header">Administrar User Story</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}

</div>
<ul>
	<div class="table-responsive">
		<table class="table table-striped">
		  <thead>
			<tr>
				 <th>#</th>
				<th>Nombre User Story</th>
				<th>Descripcion</th>
				<th>Fecha Creacion</th>
				<th>Valor de Negocio</th>
				<th>Valor de Tecnico</th>
				<th>Prioridad</th>
				<th>Tipo</th>
				<th>Autor</th>
				<th>Estado Scrum</th>
			</tr>
		  </thead>
		  <tbody>
			{% for dato in user_story %}
					<tr>
						<td>{{dato.id}}</td>
						<td>{{dato.nombre}}</td>
						<td>{{dato.descripcion}}</td>
						<td>{{dato.fecha_creacion}}</td>
						<td>{{dato.valor_negocio}}</td>
						<td>{{dato.valor_tecnico}}</td>
						<td>{{dato.prioridad}}</td>
						<td>{{dato.tipo}}</td>
						<td>{{dato.autor}}</td>
						<td>{{dato.estado_scrum}}</td>
						<td>
							{%if dato.autor%}

							{% else %}
								<a href='{% url "user_story.views.asignarSprint" dato.id %}' title="Asignar Sprint" aria-label="Close" class="btn btn-warning glyphicon glyphicon-cog" role="button"></a>
							{%endif %}
						</td>
						{% for dato2 in flujo_user_story %}
							{% if dato.id == dato2.user_story %}
							<td>{{dato2.estado_kamban}}</td>
							{% endif%}
						{% endfor %}
					</tr>
			{% empty %}
					<li>No hay usuarios registrados, aún.</li>
			{% endfor %}
		  </tbody>
		</table>
	</div>
</ul>
{% endblock %}