{% extends 'index2.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/usuario/nuevo" class="btn btn-primary" role="button">Crear</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>

<div class="row">

		<h2 class="sub-header">Administar Usuarios</h2>
		{% if mensajes %}
			<div class="alert alert-success" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				{{mensajes}}
			</div>
		{% endif %}

</div>
<ul>
	<div class="table-responsive">
			<table class="table table-striped">
			  <thead>
				<tr>
					<th>#</th>
					<th>Nombre</th>
					<th>Email</th>
					<th>Telefono</th>
					<th>Accion</th>
				</tr>
			  </thead>
			  <tbody>
					{% for dato in usuarios %}
						<tr>
							<td></td>
							<td>{{dato.user.username|capfirst}}</td>
							<td>{{dato.user.email}}</td>
							<td>{{dato.telefono}}</td>
							<td>
								{%if dato.user.is_active%}
									<a href='{% url "usuario.views.consultarUsuario" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
									<a href='{% url "usuario.views.usuarioEditar" dato.id %}' title="Editar" aria-label="Close" class="btn btn-info glyphicon glyphicon-pencil" role="button"></a>
									<a href='{% url "usuario.views.desactivar" dato.user.id %}' title="Eliminar" aria-label="Close" class="btn btn-danger glyphicon glyphicon-remove-sign" role="button"></a>
								{% else %}
									<a href='{% url "usuario.views.consultarUsuario" dato.id %}' title="Visualizar" aria-label="Close" class="btn btn-info glyphicon glyphicon-eye-open" role="button"></a>
									<a href='{% url "usuario.views.activar" dato.user.id %}' title="Activar" aria-label="Close" class="btn btn-success glyphicon glyphicon-ok-sign" role="button"></a>
								{%endif %}
							</td>
						</tr>
					{% empty %}
						<li>No hay usuarios registrados, aún.</li>
					{% endfor %}
			  </tbody>
			</table>
	</div>
</ul>
{% endblock %}
