{% extends 'index.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/usuarios/" class="btn btn-primary" role="button">Cancelar</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>
<div class="row">

		<h2 class="sub-header">{{ usuario.user.username }}</h2>

</div>
<ul>
	<div class= "row">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<div class="content-secondary">

			<p><h4>Nombre_de_Usuario: <span class="label label-default">{{ usuario.user.username }}</span></h4></p>
			<p><h4>Nombre: <span class="label label-default">{{ usuario.user.first_name }}</span></h4></p>
			<p><h4>Apellido: <span class="label label-default">{{ usuario.user.last_name }}</span></h4></p>
			<p><h4>Documento: <span class="label label-default">{{ usuario.documento }}</span></h4></p>
			<p><h4>Email: <span class="label label-default">{{ usuario.user.email }}</span></h4></p>
			<p><h4>Telefono: <span class="label label-default">{{ usuario.telefono }}</span></h4></p>
			<p><h4>Direccion: <span class="label label-default">{{ usuario.direccion }}</span></h4></p>

		</div>
	</div>
</ul>
{% endblock %}
