{% extends 'index.html' %}
{% block contenido %}
<div class="row">
	<div class="text-right">

		  	<a href="/proyectos/" class="btn btn-primary" role="button">Cancelar</a>
			<a href="/" class="btn btn-info" role="button">Atras</a>

	</div>
</div>
<div class="row">
		<h2 class="sub-header">{{ usuario.user.username }}</h2>
</div>
<ul>
	<div class= "row">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
		<div class="content-secondary">

			<p><h4>Codigo: <span class="label label-default">{{ proyecto.codigo }}</span></h4></p>
			<p><h4>Nombre Corto: <span class="label label-default">{{ proyecto.nombre_corto }}</span></h4></p>
			<p><h4>Nombre Largo: <span class="label label-default">{{ proyecto.nombre_largo }}</span></h4></p>
			<p><h4>Fecha Inicio: <span class="label label-default">{{ proyecto.fecha_inicio}}</span></h4></p>
			<p><h4>Fecha Fin: <span class="label label-default">{{ proyecto.fecha_fin }}</span></h4></p>
			<p><h4>Estado: <span class="label label-default">{{ proyecto.estado }}</span></h4></p>
			<p><h4>Scrum Master: <span class="label label-default">{{ proyecto.scrum_master.username }}</span></h4></p>

		</div>
	</div>
</ul>
{% endblock %}
